/* CSS */

.SortAndFilter {
    text-align: left;
    background-color: #282c34;
    align-items: flex-start;
    justify-content: left;
    color: white;
    border-radius: 25px;
    padding: 1%;
    padding-left: 4%;
    padding-right: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
